{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> LogIn </title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>
  
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="email" placeholder="Enter your email" name="email">
        <input type="password" placeholder="Enter your password" name="password">
        <a href="#">Forgot password?</a>
        <button type="submit" class="regbutton">LogIn</button>
        {% if success %}
        <p style="color: green;"><b>{{ success }}</b></p>
        {% endif %}
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
      </form>
      <div class="signup">
        {% csrf_token %}
        <span class="signup">Don't have an account?
         <label for="check"><a href="{% url 'register' %}">Signup</a></label>
        </span>
      </div>
    </div>
    
  </div>
</body>
</html>